@charset "utf-8";
/* CSS Document */
div#header 
{
	position:fixed;
	top:0px;
	left:2px;
	width:97%;
	color: black;
	background-color: #0BB00F;
	padding: 5px;
	margin-top: 10px;
	border: 5px solid black;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.47);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	}
div#footer 
{
	position:fixed;
	bottom:4px;
	left:2px;
	width:97%;
	color: black;
	background-color: #0BB00F;
	padding: 8px;
	margin-top: 10px;
	border: 5px solid black;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.47);
	font: Tahoma;
}
div#container {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	position: relative;
	width: 98%;
	top: 150px;
	border: 10px dashed #000;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.47);
	padding-bottom: 20px;
} 
